<p-toast />

<div class="editor-container">
    <!-- Toolbar -->
    <app-workflow-toolbar [workflow]="workflow()" [connecting]="connecting()" [simulating]="simulating()"
        [executing]="executing()" [saving]="saving()" (goBack)="goBack()" (cancelConnection)="cancelConnection()"
        (startSimulation)="startSimulation()" (stopSimulation)="stopSimulation()" (realExecute)="realExecute()"
        (saveAll)="saveAll()">
    </app-workflow-toolbar>

    <div class="editor-body">
        <!-- Toolbox -->
        <app-workflow-toolbox (dragStart)="onToolboxDragStart($event)"></app-workflow-toolbox>

        <!-- Canvas SVG -->
        <app-workflow-canvas style="flex: 1; display: flex; overflow: hidden;" [nodes]="nodes()"
            [connecting]="connecting()" [connectingFromId]="connectingFromId()" [selectedNodeId]="selectedNode()?.id"
            (canvasDragOver)="onCanvasDragOver($event)" (canvasDrop)="onCanvasDrop($event)"
            (nodeSelected)="selectNode($event)" (canvasClicked)="deselectAll()"
            (connectionStarted)="startConnection($event)" (nodeMoved)="updateNodePosition($event)">
        </app-workflow-canvas>

        <!-- Config Panel -->
        @if (selectedNode()) {
        <app-workflow-properties [node]="selectedNode()!" [parentNode]="parentNode()"
            [availableAncestors]="availableAncestors()" (configChange)="updateNodeConfig($event)"
            (connectNode)="startConnection($event)" (deleteNode)="deleteNode($event)"
            (disconnectNode)="removeConnection($event)">
        </app-workflow-properties>
        }
    </div>
</div>